<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="StorePortal_AdminEmbed::manage"
                          title="Store Portal"
                          sortOrder="100"/>
                <resource id="StorePortal_AdminEmbed::config"
                          title="Store Portal Configuration"
                          sortOrder="110"/>
            </resource>
        </resources>
    </acl>
</config>
