<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storeportal>
            <general>
                <portal_url>http://localhost:5000</portal_url>
                <api_key>StorePortalWpKey2026Mazhar</api_key>
            </general>
        </storeportal>
    </default>
</config>
