<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="storeportal" translate="label" sortOrder="200">
            <label>Store Portal</label>
        </tab>
        <section id="storeportal" translate="label" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Store Portal</label>
            <tab>storeportal</tab>
            <resource>StorePortal_AdminEmbed::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="portal_url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Portal URL</label>
                    <comment>Base URL of your Store Portal Flask app (e.g. http://localhost:5000 or your ngrok URL). No trailing slash.</comment>
                </field>
                <field id="api_key" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <comment>Must match WP_PLUGIN_API_KEY in your Flask .env file.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
